*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    background: linear-gradient(100deg, #FF9ABB 23.49%, #F902D1 133.81%);
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}