
:root{
    /* colors */

    --font-color: #171736;
    --btn-color: #171736;
    --hover-color: #1d1d68;

    /* fonts */
    --font-title: 'Secular One', sans-serif;
    --font-notes: 'Lexend Deca', sans-serif;
    --font-devInfo : 'Kantumruy Pro', sans-serif;

}


.devIcons {
    width: 20px;
}